.popup__input {
  display: flex;
  width: 358px;
  padding: 0;
  border: 0px;
  border-bottom: 1px solid #ccc;
  margin-top: 49px;
  padding-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

.popup__input:last-of-type {
  margin-top: 30px;
}

@media screen and (max-width: 930px) {
  .popup__input {
    margin-top: 75px;
    width: 238px;
  }
}
