.title__edit-button {
  width: 24px;
  height: 24px;
  background-color: #000;
  margin-left: 18px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.title__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 930px) {
  .title__edit-button {
    margin-left: 10px;
  }
}
