.profile__name {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 294px;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}

@media screen and (max-width: 930px) {
  .profile__name {
    max-width: calc(100vw - 2 * 50px);
    text-align: center;
    font-size: 27px;
    line-height: 33px;
    line-height: 1;
  }
}
