.profile__description {
  margin: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  max-width: 336px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 930px) {
  .profile__description {
    font-size: 14px;
    line-height: normal;
    margin-top: 14px;
    grid-column: span 2;
    text-align: center;
    max-width: calc(100vw - 2 * 50px);
  }
}
