.popup__save-btn {
  margin: 48px 0 37px 0;
  width: 358px;
  min-height: 50px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 0;
  transition: 0.2s;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.popup__save-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 930px) {
  .popup__save-btn {
    margin-top: 45px;
    margin-bottom: 25px;
    width: 238px;
    font-size: 14px;
  }
}
