.popup__close-btn {
  background-image: url(../../../images/form__close-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
  background-color: transparent;
  border: 0;
  transition: 0.2s;
}

.popup__close-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 930px) {
  .popup__close-btn {
    top: -36px;
    right: 0;
    height: 20px;
    width: 20px;
    background-size: 20px;
  }
}
