.profile__info {
  display: grid;
  margin-left: 30px;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  gap: 16px 18px;
}

@media screen and (max-width: 930px) {
  .profile__info {
    margin: 0;
    column-gap: 10px;
    margin-top: 26px;
    row-gap: 0;
  }
}
